*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pacifico', cursive;
}
.navbar{
    display: flex;
    flex-basis:auto;
    align-items: center;
    padding: 20px;
    padding-right: 150px;
}
nav{
    flex: 1;
    text-align:right;
    padding-bottom: 70px;
    
}
nav ul{
    display: inline block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: orangered;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px ;

}
.row{
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-around;
}
.col2
{
    flex-basis: 50%;
    min-height: 300px;
}
.col2 img{
    max-width: 100%;
    padding: 50px 0px;

}
.col2 h3
{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background:darkturquoise;

}
.header{
    background: radial-gradient(#fff,#ffd6d6 );
}
.catogories{
    margin: 70px 0;
}
.col3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.col4{
    flex-basis: 25%;
    min-width: 200px;
   
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    line-height: 60px;
    position: relative;
    color: #555;
    margin: 0 auto 80px;
}
.title::after{
    content: '';
    width: 80px;
    height: 5px;
    background-color: #ff523b;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;

}
.rating{
    color: #ff523b;
}
.col4:hover{
    transform: translateY(10px);
}
/*  */
/* offer  */
.offer{
    background: radial-gradient(#fff,#ffd6d6 );
}
/* testimonal  */
.testimonal{
    padding-top: 80px;
}
.testimonal .col3{
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonal .col3 img{
width: 100px;
border-radius: 50%;
margin-top: 20px;
}
.testimonal .col3:hover{

transform: translateY(-20px);    
}
.fa.fa-quote-left{
    color: #ff523b;

}
.col3 p{
    color: #777;
}
/* footer  */
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    margin-bottom: 30px;
    color: #fff;
}
 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 100px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    text-align: center;
    flex-basis: 1;
    
}
.footer-col-2 img{
 width: 180px;
 margin-bottom: 20px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-4{
    text-align: center;
    flex-basis: 12%;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 30px;
}
.app-logo img{
    height: 50px;
    width: 140px;
}
.footer hr{
    border: none;
    height: 1px;
    margin: 20px 0;
    background: #b5b5b5;
}
.footer .copyright{
    text-align: center;
}
/* menu  */
.m{
    margin-bottom: 55px;
    margin-left: 20px;
    display: none;
}
/* media query */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        background: #333;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;
    }
    nav ul li{
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        margin-right: 50px;
    }
     nav ul li a{
        color: #fff;
    }
    .m{
        display: block;
        cursor: pointer;
    } 
    /* media query for smaller vscreen size  */
    @media only small screen and (max-width:600px)
    {
        .row{
            text-align:center;
        }
        .col2, .col3, .col4{
            flex: 100%;
        }
    }
}